*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #222; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#324aa8,#4e084e);
    padding:10px;
}

.container img{
    width: 30px;
    margin: 10;
}

