*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #222; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#324aa8,#4e084e);
    padding:10px;
}

.container img{
    width: 30px;
    margin-left: 10px;
}

.to-do{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 20px 70px;
    border-radius: 10px;
    /* align-items: center; */
}

.to-do h2{
    display: flex;
    align-items: center;
    color: #002765;
    margin-bottom: 20px;
}

.to-do h2 img {
    width: 40px;
    /* height: 40px; */
    margin-right: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dddddd;
    margin-bottom: 25px;
    border-radius: 30px;
    padding-left: 20px;
}

#task{
    flex:1;
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

#input_box{
    border:none;
    outline:none;
    padding: 16px 50px;
    background: #ff0021;
    color:#fff;
    font-size: 16;
    border-radius: 40px;
    cursor:pointer;
}

#taskList li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px; 
        /* top right bottom left  */
    user-select: none;
    cursor:pointer;
}

/* #taskList li::before{
    content: "Read this";
} */